'.platform-linux':
  'ctrl-1': 'platformio-ide-terminal:next'
  'alt-f': 'platformio-ide-terminal:focus'
  'alt-q': 'tree-view:toggle-focus'
'.tree-view':
  'alt-a': 'tree-view:collapse-directory'
  'alt-d': 'tree-view:expand-item'
'body':
  'alt-/': 'core:delete'
  'alt-x': 'core:cut'
  'alt-c': 'core:copy'
  'alt-v': 'core:paste'
  'alt-w': 'core:move-up'
  'alt-s': 'core:move-down'
  'alt-a': 'core:move-left'
  'alt-d': 'core:move-right'
  'cmd-alt-;': 'core:move-to-top'
  'cmd-alt-\'': 'core:move-to-bottom'
  'alt-shift-W': 'core:select-up'
  'alt-shift-S': 'core:select-down'
  'alt-shift-A': 'core:select-left'
  'alt-shift-D': 'core:select-right'
'atom-text-editor':
  'alt-,': 'editor:move-to-previous-subword-boundary'
  'alt-.': 'editor:move-to-next-subword-boundary'
  'alt-<': 'editor:select-to-previous-subword-boundary'
  'alt->': 'editor:select-to-next-subword-boundary'
  'cmd-,': 'editor:move-to-beginning-of-word'
  'cmd-.': 'editor:move-to-end-of-word'
  'cmd-<': 'editor:select-to-beginning-of-word'
  'cmd->': 'editor:select-to-end-of-word'
  'alt-\'': 'editor:move-to-end-of-screen-line'
  'alt-"': 'editor:select-to-end-of-line'
  'alt-;': 'editor:move-to-beginning-of-screen-line'
  'alt-:': 'editor:select-to-first-character-of-line'
  'alt-cmd-w': 'ctrl-dir-scroll:scroll-up'
  'alt-cmd-s': 'ctrl-dir-scroll:scroll-down'
  'f1': 'bookmarks:toggle-bookmark'
  'f2': 'bookmarks:view-all'
